[Service]
# These will be inherited by containers
LimitCPU={{containerd_limit_cpu}}
LimitFSIZE={{containerd_limit_fsize}}
LimitDATA={{containerd_limit_data}}
LimitSTACK={{containerd_limit_stack}}
LimitCORE={{containerd_limit_core}}
LimitRSS={{containerd_limit_rss}}
LimitNOFILE={{containerd_limit_nofile}}
LimitAS={{containerd_limit_as}}
LimitNPROC={{containerd_limit_nproc}}
LimitMEMLOCK={{containerd_limit_memlock}}
LimitLOCKS={{containerd_limit_locks}}
LimitSIGPENDING={{containerd_limit_sigpending}}
LimitMSGQUEUE={{containerd_limit_msgqueue}}
LimitNICE={{containerd_limit_nice}}
LimitRTPRIO={{containerd_limit_rtprio}}
LimitRTTIME={{containerd_limit_rttime}}
