
[Unit]
Description=Setup IPV6 stable privacy
DefaultDependencies=no
After=systemd-modules-load.service
Before=sysinit.target shutdown.target systemd-sysctl.service
ConditionPathIsReadWrite=/proc/sys/net/

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "if [ ! -f '/etc/sysctl.d/10-ipv6-stable-secret.conf' ]; then echo net.ipv6.conf.default.stable_secret = $(openssl rand -hex 16  | sed 's/....\B/&:/g') > /etc/sysctl.d/net.ipv6.conf.default.stable_secret.conf; fi"
TimeoutSec=90s

[Install]
WantedBy=sysinit.target
